
<p><%= @affirmation[0]['q'] %> </br></p> 
<p><%= @affirmation[0]['a'] %> </br></p> </br></br>




<h4> Inspirational quotes provided by <a href="https://zenquotes.io/" target="_blank">ZenQuotes API</a> </h4> 